.CampingArea {
  background: #eaeaea;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(0.3472 * 100vw);
  min-width: 300px;
  max-width: 400px;
  justify-content: baseline;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.CampingArea h2 {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: inherit;
  line-height: inherit;
}

.CampingArea p {
  margin-block-start: 0.2rem;
  margin-block-end: 0rem;
}
