.CampingType {
  display: flex;
  flex-direction: column;
  gap: 0;
  line-height: 1.8rem;
  border-radius: 20px;
  background-color: #efeff0;
  width: 24rem;
  padding: 1rem;
  text-align: left;
  color: #1e1e1e;
}

.CampingType h3 {
  margin-bottom: 0.4rem;
}

.CampingType p {
  line-height: 1.4rem;
}

.CampingType img {
  padding: 1.6rem;
  align-self: center;
  margin-bottom: 1rem;
}

.CampingType:active {
  background-color: #dffe00;
}

.CampingFlex {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
}

.CampingTypeFlex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Price {
  font-size: 22px;
  margin-top: 1.6rem;
  font-weight: bold;
}

.Steps {
  width: 80%;
  margin: auto;
}

.CheckoutButtons {
  text-align: center;
}
