* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* colors */

:root {
  --accent-color: #dffe00;
  --main-black: #1e1e1e;
  --grey: #efeff0;
}
h1 {
  color: var(--main-black);
  font-size: 100px;
  font-weight: 300;
  margin-bottom: 4vh;
}
h2 {
  color: var(--main-black);
  font-size: 58px;
  margin-bottom: 4vh;
}
h3 {
  font-size: 32px;
  margin-bottom: 4vh;
}
h4 {
  font-size: 22px;
  margin-bottom: 4vh;
}
form input {
  border: none;
  background-color: var(--grey);
  padding: 1vh;
  border-radius: 8px;
}
/*fonts*/

@font-face {
  font-family: "FiveSerifRegular";
  src: url("/fonts/FiveSerif-Regular.otf") format("opentype");
}

@font-face {
  font-family: "FiveSerifItalic";
  src: url("/fonts/FiveSerif-Italic.otf") format("opentype");
}

@font-face {
  font-family: "FiveSerifLightItalic";
  src: url("/fonts/FiveSerif-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: "Studio6Regular";
  src: url("/fonts/Studio6-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Studio6Italic";
  src: url("/fonts/Studio6-Italic.otf") format("opentype");
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Studio6Regular";
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  text-decoration: none;
  color: var(--main-black);
}
a:hover {
  opacity: 0.7;
  transition: ease-in 0.2s;
}
button {
  pointer-events: pointer;
  border: none;
  padding: 2vh 4vh 2vh 4vh;
  background-color: var(--accent-color);
  border-radius: 50px;
  color: black;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
button:hover {
  background-color: #d4f507;
  transition: ease-in 0.2s;
}
ul {
  list-style: none;
}

p {
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
}

input {
  padding: 1rem;
  border-radius: 15px;
  border: 1.4px solid var(--main-black);
}
