.Navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding:3vh;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 2rem;
  text-decoration: none;
}

.Header {
  width: 90%;
  margin: auto;
}

.Main {
  width: 95%;
  margin: auto;
  
}

.HeroSection {
  height: 90vh;
  display: flex;
  align-items: center;
  width: 100%;
}

.announcement {
  display: flex;
  justify-content: space-around;
}

.Newsletter {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  align-items: center;
  text-align: center;
  padding: 8rem;
}
.Newsletter form input{
  padding: 2vh;
  margin-right: 2vh;
}
.Logo {
  width: 60px;
  height: auto;
}

.announcement > div {
  flex-basis: 50%;
}
.written{
  font-family:"FiveSerifLightItalic";
  display: inline;
  }
  .about{
   font-size: 17px;
display: inline;
    }
.landingLetters{
  margin-bottom: 15%;
}
.landingLetters h2{
  text-justify: inter-character;
}
.Footerlinks {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 5vh 3vh 3vh 0vh;
  color:white;
  background-color: var(--main-black);
}
.Footer{
  padding: 0vh 0vh 2vh 3vh;
  margin-top: 7vh;
  color:white;
  background-color: var(--main-black);
}
.Footerlinks li a{
  color:white;
}
