.Navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 3vh;
  align-items: center;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 2rem;
  text-decoration: none;
}

.navIcons {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.Header {
  width: 90%;
  margin: auto;
}

.Main {
  width: 100%;
  margin: auto;
}

.HeroSection {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  display: flex;
  height: 120vh; 
}

.box {
  flex-basis: 50%;
  position: relative; 
}
.buttonText{
  font-size: 45px;
  position: absolute;
  bottom: 2%;
  right: 3%;
  display: inline;  
}
.artistsText{
  font-size: 45px;
  position: absolute;
  top: 2%;
  left: 3%; 
}
.artistsText2{
  font-size: 25px;
  position: absolute;
  bottom: 10%;
  width: 90%;
  left: 5%; 
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.centeredText {
  text-align: center;
  font-size: 25px;
}
.centeredText2 {
  text-align: center;
  font-size: 45px;
}
.centeredText3 {
  text-align: center;
  font-size: 17px;
}
.Newsletter {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  align-items: center;
  text-align: center;
  padding: 8rem;
}
.Newsletter form input {
  padding: 2vh;
  margin-right: 2vh;
}
.Logo {
  width: 60px;
  height: auto;
}
.longLogo {
  width: 120px;
  margin-bottom: 4vh;
  height: auto;
}

.announcement > div {
  flex-basis: 50%;
}
.lineText h3{
  margin-bottom: 0;
}
.lineText{
  justify-content: center;
}
.coordinates{
  color:white;
  position: absolute;
  font-size: 25px; 
  left:1%;
  top:4%;
  writing-mode: vertical-rl;
}
.dates{
  color:white;
  position: absolute;
  font-size: 35px; 
  left:3%;
  bottom:4%;
}
.buyTickets{
  color:white;
  position: absolute;
  font-size: 35px; 
  right:3%;
  bottom:4%;
}
.buyTickets:hover{
  color:var(--accent-color);
  opacity: 1;
}
.heroTextContainer {
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  height: 100%; /* Ensure the container takes up the full height */
}

.heroText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* Add any additional styles for the heroText */
}
.written {
  font-family: "FiveSerifLightItalic";
  display: inline;
}
.writtenNew {
  font-family: "FiveSerifLightItalic";
  display: inline;
font-size: 30px;
}
.writtenBuy {
  font-family: "FiveSerifLightItalic";
  display: inline;
font-size: 40px;
}
.writtenBuyTickets {
  font-family: "FiveSerifLightItalic";
  display: inline;
font-size: 50px;
margin-right: 3%;
}
.writtenFoo {
  font-family: "FiveSerifLightItalic";
  font-size:300px;
  justify-content: center;
  display: inline;
  color: var(--accent-color);
}
.writtenBox {
  font-family: "FiveSerifLightItalic";
  font-size:35px;
  display: inline;
}
.writtenFoo h3{
  font-family: "Studio6Regular";
  font-size: 20px;
}
.about {
  font-size: 17px;
  display: inline;
}
.landingLetters {
  margin-bottom: 15%;
  margin-top: 8%;
  margin-left: 3%;
}
.landingLetters h2 {
  text-justify: inter-character;
}

.Footerbox {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 3vh;
  flex-wrap: wrap;
  padding: 5vh 3vh 3vh 0vh;
  color: white;
  background-color: var(--main-black);
}
.leftFooter {
  width: 60%;
}
.copyright {
  font-size: 12px;
  margin-top: 4vh;
}
.Footer {
  padding: 0vh 0vh 2vh 3vh;
  margin-top: 7vh;
  color: white;
  background-color: var(--main-black);
}
.Footer a {
  color: white;
  line-height: 1.5rem;
}
.Footerbox ul li a {
  color: white;
  line-height: 2rem;
}
.heroImage{
  position: absolute;
  z-index: -100;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  height: 97%;
  left:0;
  top:0;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .leftFooter {
    width: auto;
    margin-bottom: 6vh;
  }
  .writtenNew {
    font-size: 25px;
    }
    .writtenFoo {
      font-size:240px;
    }
    .writtenFoo h3{
      font-size: 18px;
    }
    .coordinates{
      font-size: 20px; 
    }
    .dates{
      font-size: 25px; 
    }
    .buyTickets{
      bottom:3%;
    }
}
@media only screen and (max-width: 600px) {
  /* CSS styles for phones */
  .leftFooter {
    width: 100%;
    margin-bottom: 6vh;
  }
  .writtenNew {
  font-size: 20px;
  }
  .writtenFoo {
    font-size:170px;
  }
  .writtenFoo h3{
    font-size: 15px;
  }
  .coordinates{
    font-size: 18px; 
  }
  .dates{
    font-size: 20px; 
  }
  .buyTickets{
    bottom:3%;
    font-size: 30px;
  }
  .writtenBuy{
    font-size: 35px;;
  }
}
