.written {
  font-family: "FiveSerifLightItalic";
  display: inline;

  font-size: 110px;
}
.wrapper {
  padding: 5vh;
}

.lineup {
  margin: 0;
}

.artistLineup {
  line-height: 2;
  display: flex;
  justify-content: flex-end;
  text-align: justify;
  width: 100%;
}

.artistLineup > div {
  flex-basis: 50%;
}
.rightAligned {
  display: inline;
}

.gridImages {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grey {
  background-color: #bfbda8;
}

.blue {
  background-color: #cad2e9;
}

.yellow {
  background-color: #dbf905;
}

.gridImages img {
  width: 100%;
}
.artistDesc {
  width: 60%;
}
.artistDesc p{
  width: 82%;
}
.artistLogo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex{
display: flex;
margin: 7vh 0vh 21vh 6vh;
gap:9vh;
flex-wrap: wrap;
}
.artistDesc h1{
  margin-bottom: 4vh;
}
.artistDesc h4{
  margin-bottom: 0;
  margin-top: 6vh;
  display: inline;
}
.artistDesc button{
  margin-left: 3vh;
}
.artistDesc strong{
  opacity: 0.5;
}
.info{
  display: flex;
  flex-direction: row;
  gap: 5vh;
  justify-content: flex-start;
}
.info p{
  width: 100%;
  margin-top: 0;
}
.tickets{
  margin-top: 5vh;
}
.writtenTickets {
  font-size: 27px;
  margin-left: 5vh;
  font-family: "FiveSerifLightItalic";
  display: inline;
}
.members {
  margin-bottom: 3vh;
  list-style-type: none;
}
@media (max-width: 768px) {
  .gridImages {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .artistLineup > div {
    flex-basis: 100vw;
  }

  .hidden {
    display: none;
  }
  .artistDesc {
    width: 100%;
  }
  .artistDesc h1{
    line-height: 1;
    font-size: 65px;
  }
  .artistDesc p{
    width: 100%;
  }
  .writtenTickets {
    font-size: 23px;
    margin-left: 1vh;
  }
}
