.OneDaySchedule {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

.ArtistInfo {
  display: flex;
  flex-direction: column;
}

.nameAndGenre {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.Schedule {
  display: flex;
  justify-content: center;
}

.weekTabs {
  border-color: var(--accent-color);
}

.ActInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.ActInfo {
  display: flex;
  gap: 2rem;
}

