.ArtistInfo {
  display: flex;
  flex-direction: column;
}

.Schedule {
  width: 60%;
  margin: auto;
}

.weekTabs {
  color: var(--accent-color);
}

.ActInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.ActInfo {
  display: flex;
  gap: 2rem;
  font-size: 18px;
  align-items: center;
}

.written {
  font-family: "FiveSerifLightItalic";
  display: inline;
  font-size: 110px;
}

.Main {
  padding: 5vh;
}

@media (max-width: 768px) {
  .verticalSchedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
  }

  .Schedule {
    width: 100%;
    margin: auto;
  }
}
